# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
/dist
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
poetry.lock

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Diffusers convert files
out
traced_unet/
onnx
converted

# Docs
node_modules/
docs/.vitepress/cache

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docs
docs/.vitepress/dist

# Project specific
/engine
/static/output
/outputs
/frontend/yarn.lock
/testing
/typings
external
/tmp
/data

# Ignore for black
core/submodules