--extra-index-url https://pypi.ngc.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu116
colored
coloredlogs
cuda-python
diffusers
scipy
transformers
accelerate
ftfy
tqdm
OmegaConf
# Backend
fastapi
websockets
uvicorn
# Bot
discord