--extra-index-url https://pypi.ngc.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu116
colored
cuda-python
diffusers
scipy
transformers
accelerate
ftfy
tqdm
# Backend
fastapi
websockets
uvicorn
