.left-container {
  margin: 0 12px;
}

.flex-container {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
}

.flex-container.space-between {
  justify-content: space-between;
}

.slider-label {
  margin-right: 12px;
  width: 128px;
}

.main-container {
  margin: 18px;
  padding-top: 18px;
}

.highlight {
  color: #63e2b7;
}

.generate-extra-card {
  margin-top: 12px;
}

.generate-extra-card:last-child {
  margin-bottom: 12px;
}
