:root {
	--vp-c-brand: rgb(255, 118, 60);
	--vp-c-brand-light: rgb(255, 118, 60);
	--vp-c-brand-dark: rgb(237, 70, 150);

	--vp-button-brand-bg: rgb(237, 70, 150);
	--vp-button-brand-border: rgb(237, 70, 150);
	--vp-home-hero-name-color: rgb(237, 70, 150);
	--vp-button-brand-hover-border: rgb(255, 118, 60);
	--vp-button-brand-hover-bg: rgb(255, 118, 60);
	--vp-button-brand-active-bg: rgb(237, 70, 150);
	--vp-button-brand-active-border: rgb(237, 70, 150);
}
