* {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    text-indent: 0;
}


body {
    background-color: black;
    font-family: Inter, sans-serif;
    font-size: 12px;
}

.root {
    width: 100vw;
    height: 100vh;
    color: white;
}

.c-container {
    width: 100vw;
    height: 100vh;
}

.header {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*.header > img {*/
/*    transform: scale(75%);*/
/*}*/

.demo-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.5rem 0.5rem;
}

.demo-button.active {
    border-bottom: 2px solid lawngreen;
    border-radius: 1rem;
}

.toolbar {
    display: flex;
    gap: 1.4rem;
    padding-top: 1rem;
    padding-inline: 0.5rem;
}

.demo {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 0.5rem 1rem 1rem;
    margin-bottom: 0.5rem;
}

.main-demo {
    display: flex;
    margin-bottom: 1rem;
}

.images-number {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 100%;
    color: white;
    background: #0D0D0D url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
    background-size: 16px;
    background-position: calc(100% - 20px) 10px;
}

.sidebar {
    min-width: 320px;
    width: 320px;
}

.text-field {
    background: #0D0D0D;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: white;
}

.app {
    padding-bottom: 1rem;
}

.submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 22px;
    gap: 6px;

    width: 100%;
    color: white;
    margin-top: 1.5rem;

    background: linear-gradient(99.35deg, #681FC5 -2.41%, #5E76F3 103.58%);
    box-shadow: 3px 5px 32px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.output-images {
    background: rgba(25, 29, 41, 0.5);
    box-shadow: 5px 11px 53px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-left: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    flex-grow: 1;
    text-align: center;
}

#image_output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 600px;
}

#image_output > img {
    margin: 1rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FFF;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

@keyframes flippx {
  0%, 49% {
    transform: scaleX(1);
  }
  50%, 100% {
    transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.card {
    background: #0D0D0D;
    text-align: center;
    border: 1px solid grey;
    width: 18rem;
    margin: 25px;
}


.glow-on-hover{
    will-change: opacity, transform, visibility;
    width: 100%;
    color: white;
    margin-top: 1rem;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}